body {
    margin: 0px;
    background-color: #FFF0D9;
}


main {
    padding: 0%;
}

.hero {
    position: relative;
    height: 60vh;
    background: url('hero1.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    z-index: 1;
    max-width: 600px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 70px;
    color: #B0532A;
    position: absolute;
    bottom: 0%;
    left: 1%;
    margin: 10px;
}

.hero-content p {
    font-size: 20px;
    color: #FFF0D9;
    position: absolute;
    bottom: 0%;
    right: 2%;
}

nav {
    background-color: #454732;
    padding: 10px 20px;


    ul {
        padding: 0;

        li {
            a {

                text-decoration: none;
                color: #FFF0D9;
                display: block;
                padding: 10px;
                font-size: 20px;
            }

            text-align:center;
            display:inline-block;
            padding: 0;

        }

        height: 40px;
        text-align: justify;

    }

    ul::after {
        width: 100%;
        display: inline-block;
        content: ".";
        visibility: hidden;
    }

}

.block {
    background: #454732;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0%;
    width: 100%;
}

.block blockquote {
    padding: 40px;
    padding-left: 350px;
    text-align: right;
    color: #FFF0D9;
    font-size: 18px;
}

.author {
    font-size: 40px;
    color: #B0532A;
    padding-left: 20%;
}

.author p {
    font-size: 18px;
    color: black;
    padding-left: 20%;
    padding-right: 20%;
}


.windowImg {
    width: 100vw;
} 


.streetImg {
    width: 100vw;
} 

 .sunsetImg{
    width: 100vw;
} 

.jarImg{
    width: 100vw;
} 
.pearsImg {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.block-two {
    background: #B0532A;
    color: #FFF0D9;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
    font-size: 20px;
    margin-top: -1rem;
}



.august {
    color: #454732;
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}

.august-p {
    color: black;
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3rem;
    padding-bottom: 2rem;
}



.block-three {

    .mornings {
        color: #FFF0D9;
        font-size: 40px;
        padding-left: 1%;

    }

    background: #454732;
    color:#FFF0D9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px;

}

.block-three section {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.block-three blockquote {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.block-four {
    .square {
        color: #FFF0D9;
        font-size: 40px;
        text-align: right;
        padding-right: 10%;
        padding-top: 2rem;
    }

    background-color: #B0532A;
    color:#FFF0D9;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}

.block-four section{
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px; 
    padding-left: 20%;
    padding-right: 20%;
}

.block-four h2{
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px; 
    padding-left: 20%;
    padding-right: 20%;
}



.street-header {
    color: #454732;
    font-size: 40px;
    padding-left: 20%;
    padding-top: 3rem;
}

.street {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18px
}

.street-footer {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 10px;
    padding-bottom: 3rem;
}

.further-reading {
    background-color: #454732;
    color: #FFF0D9;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18px
}

.credits {
    background-color: #B0532A;
    color: #FFF0D9;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 18px
}


a:link {
    color: #FFF0D9;
  }
  
  a:visited {
    color: #B0532A;
  }
  
  

